<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <test v-model="test"></test>
    </div>    
</body>
</html>


<script type="text/x-template" id="test">
    <input type="text" v-model="test.a"  @change="giveData">
  </script>

<script>
Vue.component('test', {
    data: function() {
        return {
            test: {
                a: '',
                b: '',
                c: '',
                d: ''
            }
        };
    },
    prop: {
       t: Object         
    },
    model: {
        prop: 't',
        event: 'change'
    },
    watch: {
        'test.d': function() {
            this.giveData();
        }
    },
    methods: {
        giveData: function(e) {
            this.t = Object.assign({}, this.test);
            this.$emit('change', this.t);
        }    
    },
    template: '#test'
});
</script>



<script>
  var app = new Vue({
  el: '#app',
  data: function() {
      return {
        test: {}
      }
  }
});

</script>