.paginator {
    margin: 30px 0;
    text-align: center;
}

.paginator .navigate {
    display: inline-block;
}

.paginator .navigate a {
    padding: 5px 10px;
    margin: 10px;
    font-size: 14px;
    border: 1px solid #e2f5fa;
    border: 1px solid #eaeaea;
    color: #000;
}

.paginator .navigate a:hover,
.paginator .navigate a.active {
    background: #00bfff;
    color: #fff;
}