/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Verdana, Tahoma, sans-serif
}

table thead tr {
    color: #ffffff; 
    font-weight: bold; 
    background: #00bfff;
}

table thead tr td {
    font-size: 14px;
    padding: 15px 10px;
    text-align: center;
}

table tbody tr td {
    border-top: 1px solid #e8e9eb;
    border-bottom: 1px solid #e8e9eb;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

table tbody tr:nth-child(2n) {
    background: #f4f4f4;
}

table tbody tr:hover {
    background: #e2f5fa;
}

table tbody tr td span {
    background-color: #f5770a;
    color: #ffffff;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    font-size: 11px; 
}